<div class="tcm">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h3>Transfer Cost Model</h3>
    <formly-form
      [model]="model"
      [fields]="fields"
      [options]="options"
      [form]="form"
    ></formly-form>
    <button type="submit" class="btn btn-primary">Calculate</button>
  </form>

  <ng-container *ngIf="showSummary">
    <div class="card mt-3">
      <div class="card-body table-responsive" #summaryCards>
        <table class="table table-bordered">
          <tbody>
            <tr *ngFor="let s of derivedMetrics">
              <th scope="row">{{ s.label }}</th>
              <td>{{ s.value | number: '1.0-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header text-white bg-info">Recommended Transfer</div>
      <div class="card-body table-responsive">
        <table class="table table-bordered">
          <tbody>
            <tr *ngFor="let rt of recommendedTransferSummary">
              <th scope="row">{{ rt.label }}</th>
              <td>{{ rt.actual }}</td>
              <td>{{ rt.recommended | number: '1.0-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header text-white bg-info">
        Recommended Offline Blanking
      </div>
      <div class="card-body table-responsive">
        <table class="table table-bordered">
          <tbody>
            <tr *ngFor="let rb of recommendedOfflinceBlankingSummary">
              <th scope="row">{{ rb.label }}</th>
              <td>{{ rb.actual }}</td>
              <td>{{ rb.recommended | number: '1.0-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card mt-3">
      <div class="card-header text-white bg-primary">Summary</div>
      <div class="card-body table-responsive">
        <table class="table table-bordered">
          <tbody>
            <tr *ngFor="let s of summaryData">
              <th scope="row">{{ s.label }}</th>
              <td>{{ s.value | number: '1.0-2' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>
