@import '~bootstrap/scss/bootstrap.scss';
body {
  margin: 0 auto;
  background-color: aliceblue;
  padding: 10px;
}

form {
  margin: 0 auto;
  width: 40%;
  background: #f5f6f7;
}

@media only screen and (max-width: 600px) {
  form {
    width: 95%;
  }
}

form {
  padding: 2rem;
  background-color: white;
}
