@import '~bootstrap/scss/bootstrap.scss';
body {
  margin: 0 auto;
  background-color: #c0d5da;
  padding: 10px;
}

.tcm {
  margin: 0 auto;
  width: 50%;
  background: #f5f6f7;

  h3 {
    text-align: center;
    color: #2a7179;
    letter-spacing: 0.5px;
    margin-bottom: 3rem;
    font-style: italic;
  }

  label {
    color: #2b5da7;
    font-weight: 500;
    font-size: 14px;

    span {
      color: red;
    }
  }
}

.tcm {
  padding: 2rem;
  background-color: white;
}

.display-flex {
  display: flex;
  margin-bottom: 0.5rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

[class*='flex-'] {
  padding-left: 10px;
  padding-right: 10px;
}

[class*='flex-']:first-child {
  padding-left: 0;
}

[class*='flex-']:nth-last-child(2) {
  padding-right: 0;
}

@media only screen and (max-width: 800px) {
  .tcm {
    width: 95%;
  }

  .display-flex {
    display: block;
  }
}
